<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Simple Thymeleaf Example</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

</head>
<body class="homepage">

<br/>
	<div class="container">
		<table class="table table-bordered table-striped">
			<thead>
	          <tr>
	            <th>Id</th>
	            <th>Competence</th>
	          </tr>
	        </thead>
			<tbody>
				<tr th:each="row : ${competences}">
					<td th:text="${row.id}">Thymus Thymi</td>
					<td th:text="${row.competence}">12</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<form  class="well form-search">
			<input type="text" class="input-medium search-query"/>
			<button class="btn btn-primary btn-large" type="submit">Recherche</button>
		</form>
	</div>
	<div class="container">
		<form  class="well form-search">
			<select th:field="*{contacts}" class="input-small">
	  			<option th:each="contact : ${contacts}" th:value="${contact.id}" th:text="${contact.nom}">Wireframe</option>
			</select>
		</form>
		<ul th:fragment="contactsumupFragment">
        	<li th:text="'Nom : '+ ${contactsumup.nom}" />
        	<li th:text="'Prénom : ' + ${contactsumup.prenom}" />
        </ul>
		
	</div>


</body>
</html>